@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

html,body{
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  height: 110%;
  width: 100%;
  font-family: var(--font-roboto);
  background: #780206;
  background: -webkit-linear-gradient(
  180deg,#050414 0%,#1a123d 30%,#3a2380 55%,#7b5fd9 75%,#e6dcff 100%);
  background: linear-gradient(
  180deg,#050414 0%,#1a123d 30%,#3a2380 55%,#7b5fd9 75%,#e6dcff 100%)
}


.app {
  margin-top: 5px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  color: #dac7fd;
  font-family: 'Poppins';

  justify-content: center; /* TOP */
  align-items: center;     /* LEFT */
}


h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  padding-bottom: 40px;
  width: fit-content;
}

.search {
  width: 80%;
  margin: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;

  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;

  font-size: 1.4rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.empty{
  height: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2{
  font-size: 1.25rem;
  color:aliceblue;
  font-family: ver(--font-raleway);
}

.container{
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie{
  width: 310px;
  /* height: 460px; */
  margin: 1.5rem;
  margin-top: 70px;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
 
}

.movieYear {
    position: absolute;
    padding: 20px;
    width: 100%;
    opacity: 0;
    top: 0;
    color: #d5c6ff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.842) 0%, rgba(0, 0, 0, 0.61) 50%, rgba(0, 0, 0, 0) 100%);
}

.movie:hover {
    box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
    color: black;
}

.moviePoster img {
    height: 100%;
    width: 100%;
    box-shadow: 0px 13px 100px -7px rgba(0, 0, 0, 0.1)
}

/* .movie div:nth-of-type(3) {
    z-index: 2;
    background-color: transparent;
    padding: 16px 24px 24px 24px;

    /* 16px 24px 24px 24px */

    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
} */
.movie-info{
  padding: 5px;
  margin-bottom: 15px;
  background: transparent;
}
.movie-info span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #ffffff;
}

.movie-info h3 {
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    color: #d1c0ff;
}

.movie:hover div:nth-of-type(2) {
    height: 100%;
    /* opacity: 0.3; */
    color: yellow;
}

.movie:hover div:nth-of-type(3) {
    background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
    opacity: 100;
}

@media screen and (max-width: 600px) {
    .app {
        padding: 4rem 2rem;
    }

    .search {
        padding: 1rem 1.75rem;
        width: 100%;
    }

    .search input {
        font-size: 1rem;
    }

    .search img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .app {
        padding: 4rem 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        margin-top: 2rem;
    }

    .movie {
        width: "100%";
        margin: 1rem;
    }
}