@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

html,body{
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--font-roboto);
  background: #020024;
  background: linear-gradient(190deg, #26b1d8 0%, #00031a 100%)
}


.app {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  color: #002d8f;
  font-family: 'Poppins';

  justify-content: center; /* TOP */
  align-items: center;     /* LEFT */
}


h1 {
  font-size: 4rem;
  letter-spacing: 0.9px;
  width: fit-content;
}

.search {
  width: 71%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;

  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.7rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
